body {
font-family: Arial, sans-serif;
background-color: gray;
color: black;
}

#logopoker {
    max-width: 100px;
    height: auto;
}

#div1{
    background-color: aliceblue;
}
h1 {
color: #00539f;
text-align: left;
}

p {
font-size: 16px;
line-height: 1.5;
}